<div class="main-content">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="Sr_No">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr.No </th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{ (i+1) + (p.pageIndex * p.pageSize) }} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
        <td mat-cell *matCellDef="let row">
          <span *ngFor="let file of row.filename; let j = index">
          <img width="50px;" height="50px;" style="border-radius: 50%;" src="http://localhost:3000/{{file}}" alt="{{row.tag}}">
        </span>

        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
        <td mat-cell *matCellDef="let row"> {{row.tag}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row" style="padding: 0;">
          <button mat-icon-button color="primary" matTooltip="Edit" routerLink="/image-gallery/add-moment"  [queryParams]="{id: row._id}">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteRecord(row._id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator #p [pageSizeOptions]="[5,10, 25, 50]"></mat-paginator>
  </div>


</div>
